<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="WindowsFormsApp1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <userSettings>
    <WindowsFormsApp1.Properties.Settings>
      <setting name="APIKey" serializeAs="String">
        <value />
      </setting>
      <setting name="pythonPath" serializeAs="String">
        <value />
      </setting>
      <setting name="remotePath" serializeAs="String">
        <value />
      </setting>
      <setting name="xmlPath" serializeAs="String">
        <value />
      </setting>
      <setting name="tvBtn" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="avBtn" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="volUpBtn" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="volDownBtn" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="muteBtn" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="validationBtn" serializeAs="String">
        <value />
      </setting>
      <setting name="startOver" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="removeTvKeys" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="tinyPng" serializeAs="String">
        <value>False</value>
      </setting>
    </WindowsFormsApp1.Properties.Settings>
  </userSettings>
</configuration>